﻿@model WenyanPatient_3.Models.MedicationType

@{
    ViewData["Title"] = "Details Of Medication Type";
}

<h1>Details Of Medication Type</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicationTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicationTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MedicationTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
