﻿@model WenyanPatient_3.Models.ConcentrationUnit

@{
    ViewData["Title"] = "Create Concentration Units";
}

<h1>Create Concentration Units</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConcentrationCode" class="control-label"></label>
                <input asp-for="ConcentrationCode" class="form-control" />
                <span asp-validation-for="ConcentrationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
