﻿@model WenyanPatient_3.Models.ConcentrationUnit

@{
    ViewData["Title"] = "Details Of Concentration Units";
}

<h1>Details Of Concentration Units</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConcentrationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConcentrationCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ConcentrationCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
